/* design for forms*/

/* pseudo-élément => ::elem*/
.required::after {
  content: "*";
  color: red;
}

input,
textarea {
  transition: ease-in 0.1s 0s;
  border-radius: 0.2em;
  border: solid 1px #000;
}

#send-btn {
  padding: 0.5em;
  border-radius: 0.2em;
  transition: ease-in 0.4s 0s;
  background-color: #28a745;
  color: white;
  border: none;
}

input:hover,
textarea:hover {
  border: solid 2px #28a745;
}

#send-btn:hover {
  background-color: #4b9e5d;
}

form div {
  margin-top: 0.5em;
}
