/* design for forms*/

/* pseudo-élément => ::elem*/
.required::after {
  content: "*";
  color: red;
}

input,
textarea {
  transition: ease-in 0.1s 0s;
  border-radius: 0.2em;
  border: solid 1px #000;
}

#send-btn,
#stop-btn {
  padding: 0.5em;
  border-radius: 0.2em;
  transition: ease-in 0.2s 0s;
  color: #28a745;
  border: none;
}

#stop-btn {
  color: rgb(255, 73, 73);
}

input:hover,
textarea:hover {
  border: solid 2px #28a745;
}

#send-btn:hover {
  background-color: #28a745;
  border: none;
  color: white;
}

#stop-btn:hover {
  background-color: rgb(255, 73, 73);
  color: white;
}

form div {
  margin-top: 0.5em;
}
